body {
    margin: 0px;
    padding: 0;
    font: normal 20px "Times New Roman", Times, serif;
}
.main-table{
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
}

.left{

    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
    min-width: 70vw;
    border-style: solid;
    border-width: 1px;

}

.gap{
    background-color: white;
    min-width: 5vh;
}

.right{
background-color: palegreen;
width: 30vw;
text-align: center;
}

.first-row{
    height: 20vh;
}

.second-row{
    height: 60vh;
    background-color: snow;
}

.third-row{
    height: 20vh;
}

.footer-left {
    background-color: lightskyblue;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
}

.footer-right {
    background-color: palegoldenrod;
    width: 25vw;
}

.tableA {
    align-items: center;
    margin: 0 auto;
}

.footer__title2 {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.headertable {
    width: 70vw;
}

.header__title {
    max-width: 300px;
    text-align: center;
    background-color: white;
    align-items: center;
    width: 12vw;
    margin-right: 5vw;
}
