body {
  margin: 0;
  padding: 0;
  font: normal 20px "Times New Roman", Times, serif;
}

.header {
  box-sizing: border-box;
  min-height: 25vh;
  display: grid;
  grid-template-columns: 70vw 25vw;
  grid-gap: 5vw;
}

.header__title {
  max-width: 300px;
  margin: 0 auto;
  align-items: center;
  background-color: white;
  justify-content: center;
  margin-right: 40px;
}

.header-right img {
  max-height: 300px;
  margin: 0 auto;
}

.header-left {
  background-color: lightskyblue;
  display: grid;

  grid-auto-flow: column-reverse;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}

.header-right {
  background-color: palegreen;
  text-align: center;
}

.main {
  min-height: 50vh;
  display: grid;
  grid-template-columns: 70vw 25vw;
  grid-gap: 5vw;
}

.main-left {
  background-color: coral;
}

.main-right {
  background-color: palegreen;
}

.image-center {
  height: 400px;
  display: grid;
  margin: auto;
}

.footer {
  min-height: 25vh;
  display: grid;
  grid-template-columns: 70vw 25vw;
  grid-gap: 5vw;
}

.footer-left {
  background-color: lightskyblue;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 10fr;
  align-items: center;
}

.footer__title2 {
  text-align: center;
  background-color: white;
}

.footer-right {
  display: grid;
  background-color: palegoldenrod;
  align-items: center;
}